<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finanzmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_white_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_white_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity android:name="com.example.finanzmanager.NavigationBar.GraphDetailed"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.AddNew.CreateCategoryExpense"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.AddNew.CreateCategoryIncome"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.NavigationBar.IncomeOverview"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.NavigationBar.ExpenseOverview"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.NavigationBar.Imports"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.NavigationBar.Exports"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.NavigationBar.Graph"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.AddNew.ExpenseMenu"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.AddNew.IncomeMenu"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.AddNew.NewIncome"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.AddNew.NewExpense"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.Settings.Settings"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.Settings.RepeatSettingsIncome"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.Settings.RepeatSettingsExpense"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.Settings.InfoRepeatingIncome"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.finanzmanager.Settings.InfoRepeatingExpense"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.finanzmanager.ActivityClasses.EmailPasswordActivity"
            android:label="Finanzmanager"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityClasses.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>