<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finanzmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_white_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_white_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity android:name="navigationBar.graph_detailed"
            android:screenOrientation="portrait"/>
        <activity android:name="addNew.create_category_expense"
            android:screenOrientation="portrait"/>
        <activity android:name="addNew.create_category_income"
            android:screenOrientation="portrait"/>
        <activity android:name="navigationBar.income_overview"
            android:screenOrientation="portrait"/>
        <activity android:name="navigationBar.expense_overview"
            android:screenOrientation="portrait"/>
        <activity android:name="navigationBar.imports"
            android:screenOrientation="portrait"/>
        <activity android:name="navigationBar.exports"
            android:screenOrientation="portrait"/>
        <activity android:name="navigationBar.graph"
            android:screenOrientation="portrait"/>
        <activity android:name="addNew.expense_menu"
            android:screenOrientation="portrait"/>
        <activity android:name="addNew.income_menu"
            android:screenOrientation="portrait"/>
        <activity android:name="addNew.new_income"
            android:screenOrientation="portrait"/>
        <activity android:name="addNew.new_expense"
            android:screenOrientation="portrait"/>
        <activity android:name="settings.settings"
            android:screenOrientation="portrait"/>
        <activity android:name="settings.repeat_settings_income"
            android:screenOrientation="portrait"/>
        <activity android:name="settings.repeat_settings_expense"
            android:screenOrientation="portrait"/>
        <activity android:name="settings.info_repeating_income"
            android:screenOrientation="portrait"/>
        <activity android:name="settings.info_repeating_expense"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.finanzmanager.activity_classes.EmailPasswordActivity"
            android:label="Finanzmanager"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_classes.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>