<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finanzmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_classes.create_category_expense" />
        <activity android:name=".activity_classes.create_category_income" />
        <activity android:name=".activity_classes.income_overview" />
        <activity android:name=".activity_classes.expense_overview" />
        <activity android:name=".activity_classes.Import" />
        <activity android:name=".activity_classes.Export" />
        <activity android:name=".activity_classes.Graph" />
        <activity android:name=".activity_classes.expense_menu" />
        <activity android:name=".activity_classes.income_menu" />
        <activity android:name=".activity_classes.new_income" />
        <activity android:name=".activity_classes.new_expense" />
        <activity android:name=".activity_classes.settings" />
        <activity android:name=".activity_classes.repeat_settings_income" />
        <activity android:name=".activity_classes.repeat_settings_expense" />
        <activity android:name=".activity_classes.info_repeating_income" />
        <activity android:name=".activity_classes.info_repeating_expense" />

        <activity
            android:name=".activity_classes.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>